body {
  background-color: #3f51b5;
}

.App {
  text-align: center;
}

.body {
  background-image: url("./corona2.jpg"); 
  text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
.body .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
}

.loading {
  text-align: center;
  color: rgb(12, 39, 189);
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.329);
  margin: 0 50%;
}

.app-h2 {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: lightgray;

}

.select-box {
  font-size: medium;
  border: 3px solid lightgray;
  box-shadow: 0 0 10px white;
  font-weight: bold;
  color: #282c34;
  margin-bottom: 5px;
  padding: 10px 20px;
	border-radius: 10px 10px 5px 5px;
}

.select-box:hover {
  box-shadow: 0 0 10px white;
  font-weight: bold;
  color: #282c34;
  margin-bottom: 5px;
	border-radius: 10px 10px 2px 2px;
  box-shadow: 0 0 10px rgb(0, 4, 255);
  background-color: rgba(201, 198, 246, 0.801);
}

.select-box option {
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  border: 3px solid lightgray;
  font-weight: bold;
  color: #282c34;
  margin-bottom: 5px;
  background-color: rgba(201, 198, 246, 0.801);
}

.total-cases {
  color: rgb(36, 93, 200);
}

.total-recovered {
  color: rgb(57, 224, 57);
}

.total-deaths {
  color: rgb(212, 29, 29);
}

.footer {
  text-align: center;
  color: ligh;
  text-shadow: 0 0 2px whitesmoke;
  color: #FFF;
}
