.App {
  text-align: center;

}


#app-main{
  position: fixed;
  background-image: url(./corona2.jpg);
  width: 100%;
  height: 700px;
  background-repeat: repeat;
}

.App-header {
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 5%;
}


.all-items{
  background-color: rgba(25, 26, 23, 0.76);
}

.loading{
  text-align: center;
  color: crimson;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.329);
  margin: 0 50%;
}

.app-h2{
  text-align: center;
  color: rgb(255, 255, 255);
}

.select-box{
  border-radius: 6px;
  border: 2px solid #282c34;
  box-shadow: 0 0 10px white;
  font-weight: bold;  
  padding: 5px;
  color: #282c34;
}

.select-box:hover{
border: 2px solid rgb(151, 141, 240);
box-shadow: 0 0 10px rgb(151, 141, 240);
font-weight: bolder;
}

.select-box > option{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}

.total-cases{
  color: blue;
}

.total-recovered{
color: green;
}

.total-deaths{
  color: red;
}


